<h1>Details: <%= wine.name %></h1>
<ul>
		<li>Name: <%= wine.name %></li>
		<li>Grapes: <%= wine.grapes %></li>
		<li>Country: <%= wine.country %></li>
		<li>Region: <%= wine.region %></li>
		<li>Year: <%= wine.year %></li>
		<li>Description: <%= wine.description %></li>
</ul>
